
.light{
    --main-background-color-1:#e7e7e7;
    --main-background-color-2:#afafaf;
    --background-color-3: white;
    --background-color-4: rgb(248, 248, 248);
    --font-color-1: rgb(37, 37, 37);
    --font-color-2: white;
    --font-color-3: rgb(37, 37, 37);
}

.dark{
    --main-background-color-1:#363636;
    --main-background-color-2:#0f0f0f;
    --background-color-3: rgba(0, 0, 0, 0);
    --background-color-4: rgb(66, 66, 66);
    --font-color-1: rgb(218, 218, 218);
    --font-color-2: white;
    --font-color-3: white;
}

/* Scroll bar effect */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: black; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    cursor: pointer; 
}

/* whole body effects */
html, body{
    font-family: 'Dosis', sans-serif;
    margin: 0px;
    height: 100%;
    background-image: linear-gradient(140deg, var(--main-background-color-1) -20%, var(--main-background-color-2) 80%);
    color: var(--font-color-1);
}

/* heading section */
header nav{
    box-shadow: 0px 2px 10px black;
    background-color: var(--background-color-3);
}

header nav{
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
}

header nav span.RockPaperScissor{
    font-size: 30px;
    font-weight: 100;
}

header nav span.menuBtn {
    display: block;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    transition: 200ms ease-out;
}

header nav span.menuBtn:hover{
    background-color: grey;
}

/* menu drawer */
.menuBackground{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: none;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.349);
    overflow-x: hidden;
}

.menuContent{
    position: relative;
    float: right;
    height: 100%;
    padding: 50px;
    margin-right: -50%;
    min-width: 30%;
    background-color: rgb(48, 48, 48);
    transition: margin 200ms ;
    border-radius: 10px 0px 0px 10px ;
    color: var(--font-color-2);
}

.menuBackground.open{
    display: block;
}

.menuContent.active{
    margin-right: 0%;
}

.menuBackground .menuContent .menuHeading{
    display: flex;
    justify-content: space-between;
    font-size: 30px;
}

.menuHeading .menuBtn{
    padding: 10px;
    border-radius: 50%;
    margin-top: -10px ;
    cursor: pointer;
}

.menuBackground .menuContent .menuBody{
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.menuBackground .menuContent .menuBody .menuUserRelated{
    font-size: 20px;
}

.menuBackground .menuContent .menuBody .menuUserRelated span.editUserName{
    padding: 10px;
    color: orange;
    margin: -5px 0px 5px 20px;
}

.menuBackground .menuContent .aboutMe{
    display: flex;
    justify-content: space-around;
}

.menuBackground .menuContent .aboutMe a{
    text-decoration: none;
    color: rgb(255, 176, 30);
}

.menuBackground .menuContent .aboutMe a:hover{
    color: orange;
}

/* user name update */
.userSetting .settingHeading{
    font-size: 30px;
}

.userSetting .darkMode{
    display: flex;
    align-items: baseline;
    font-size: 24px;
}

.userSetting .darkMode span.darkModeText{
    padding: 18px;
}

.changeUserNameBackground{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: none;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.349);
    overflow-x: hidden;
}

.changeUserNameBackground.open{
    display: block;
}

.changeUserNameSection{
    position: relative;
    margin: -100% 20%;
    width: 60%;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--main-background-color-1);
    transition: margin 200ms;
}

.changeUserNameSection.active{
    margin: 60px 20%;
}

.changeUserNameSection .headingUserNameChange{
    text-align: center;
    font-size: 24px;
}

.changeUserNameSection .changeUserNameForm{
    text-align: center;
}

.changeUserNameSection input {
    width: 80%;
    text-align: center;
    padding: 5px;
    margin: 10px 0px;
    border-radius: 5px;
    transition: background-color 200ms;
}

.changeUserNameSection input[type=submit] {
    background-color: rgb(255, 188, 62);
    border-color: rgb(255, 188, 62);
    border-radius: 5px;
    outline: none;
}

.changeUserNameSection small{
    color: red;
}

.changeUserNameSection input[type=submit]:hover {
    background-color: orange;
    border-color: orange;
}

/* Main Body Style */
.mainBody{
    padding: 40px;
}

.mainBody .cardBackground{
    padding: 13px;
    background-color: var(--background-color-4);
    border-radius: 10px;
    color: var(--font-color-3);
    box-shadow: 0px 0px 10px black;
    height: 100%;
}

.mainBody .cardBackground:hover{
    background-color: var(--background-color-4);
}

.mainBody .cardBackground .playSectionHeading{
    text-align: center;
    font-size: 28px;
    font-weight: 400;
}

.playWithBot .robotImage{
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.playWithBot .challengeTheBot{
    text-align: center;
    text-decoration: none;
    padding: 10px;
    background-color: orange;
    color: black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

.onlinePlayerDisplay table{
    margin-top: 10px;
    width: 100%;
}

.onlinePlayerDisplay table tr{
    text-align: center;
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
    font-size: 18px;
}

.onlinePlayerDisplay{
    max-height: 350px;
    overflow-y: scroll;
}

.onlinePlayerDisplay table tr th, .onlinePlayerDisplay table tr td{
    padding: 6px;
}

.onlinePlayerDisplay table tr td button{
    padding: 4px 24px;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: rgb(255, 188, 62);
    transition: background-color 200ms;
}

.onlinePlayerDisplay table tr td button:hover{
    background-color: orange;
}

.onlinePlayerDisplay .loadingPlayers{
    text-align: center;
    padding: 20px 0px;
}

/* notification related */
.notifier{
    display: block;
    position: absolute;
    top: 130px;
    right: 55px;
}

.notifier .messageNotification{
    position: relative;
    padding: 10px;
    background-color: rgb(255, 80, 80);
    /* background-color: lightcoral; */
    color: black;
    border-radius: 40px;
    transition: 200ms;
}

.notifier .messageNotification:hover{
    cursor: pointer;
    box-shadow: 0px 0px 15px black;
}

/* request panel */
.requestPanelBackground{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: none;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.349);
    overflow-x: hidden;
}

.requestPanelBackground.open{
    display: block;
}

.notificationPanel{
    position: relative;
    margin: -100% 20%;
    width: 60%;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--main-background-color-1);
    transition: margin 200ms;
}

.notificationPanel.active{
    margin: 60px 20%;
}

.notificationPanel .notificationPanelHeading{
    text-align: center;
    font-size: 24px;
}

.notificationPanel .noDataToShow{
    text-align: center;
    display: none;
}

.notificationPanel .noDataToShow.show{
    display: block;
}

.notificationPanel .showPlayerWhoChallenged{
    display: none;
}

.notificationPanel .showPlayerWhoChallenged.show{
    display: block;
}

.showPlayerWhoChallenged table{
    margin-top: 10px;
    width: 100%;
}

.showPlayerWhoChallenged table tr{
    text-align: center;
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
    font-size: 18px;
}

.showPlayerWhoChallenged table tr th, .showPlayerWhoChallenged table tr td{
    padding: 6px;
}

.showPlayerWhoChallenged table tr td button{
    padding: 4px 24px;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: rgb(255, 188, 62);
    transition: background-color 200ms;
}

.showPlayerWhoChallenged table tr td button:hover{
    background-color: orange;
}

/* action model */
.actionModelBackgound{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: none;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.349);
    overflow-x: hidden;
}

.actionModelBackgound.open{
    display: block;
}

.actionModelBackgound .actionModel{
    position: relative;
    margin: -100% 30%;
    width: 40%;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--main-background-color-1);
    transition: margin 200ms;
}

.actionModel.active{
    margin: 60px 30%;
}

.actionModel div{
    text-align: center;
}

.actionModel .actionModelHeader{
    font-size: 24px;
}

/* flyer */
.flyerBody{
    position: absolute;
    top:0;
    margin: -100% 35%;
    width: 30%;
    border-radius: 0px 0px 10px 10px;
    padding: 20px 20px 10px 20px;
    text-align: center;
    font-size: 20px;
    box-shadow: 0px 0px 6px black;
    z-index: 2;
    transition: margin 200ms;
    font-size: 15px;
}

.flyerBody.open{
    margin: 0px 35%;
}

.flyerBody.success{
    background-color: rgb(0, 172, 0);
    color: white;
}

.flyerBody.failed{
    background-color: red;
    color: white;
}

.flyerBody.warning{
    background-color: orange;
    color: white;
}

/* to avoid the improper display of data */
.pageLoading{
    display: none;
}