/* images sections */
.robotImg{
    height: 300px;
    display: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;

}

.showImage{
    display: block;
}

.robotSection .descriptionFromRobot{
    text-align: center;
    padding: 8px;
    border: 1px orange solid;
    border-radius: 4px;
}


/* score board section */
.scoreBoard{
    display: flex;
    align-items: stretch;
}

.scoreBoard .scoreNumber{
    background-color: orange;
    width: 100%;
    margin: 5px;
    padding: 30px;
    border-radius: 10px;
}

.scoreBoard .scoreNumber div{
    text-align: center;
    font-size: 24px;
    font-weight: 300;
}

.timelineGamePlay .heading{
    text-align: center;
    font-size: 20px;
}

.timelineGamePlay table{
    width: 100%;
    text-align: center;
}

.timelineGamePlay table tr{
    padding: 10px;
}

.timelineGamePlay table td{
    padding: 5px;
}

.timelineGamePlay table td.highlight{
    background-color: rgba(255, 166, 0, 0.61);
    border-radius: 4px;
}

/* player sections */
.playerSection .selectedMove{
    text-align: center;
    padding: 80px 0px;
    font-size: 25px;
    border: 1px orange solid;
    border-radius: 10px;
}

.playerSection .moveCollections{
    margin: 20px 15px;
    background-color: rgb(189, 189, 189);
    padding: 30px 10px;
    border-radius: 10px;
    text-align: center;
    display: flex;
}

.playerSection .moveCollections.optionsDisabled{
    background-color: rgba(0, 0, 0, 0.644);
}

.playerSection .moveCollections button{
    padding: 5px;
    outline: none;
    border: none;
    width: 100%;
    background-color: transparent;
    border-radius: 5px;
    transition: 300ms;
    font-size: 20px;
}

.playerSection .moveCollections.userOptions button:hover{
    background-color: rgb(255, 188, 64);
    transform: scale(1.1);
}

.optionDisabled{
    filter: brightness(30%);
    position: none;
}